<h2>Create New Fweet</h2>
<p><em>That's right, I said fweet.</em></p>

<form method="POST" action="/tweets">
  <input type="text" name="content" />
  <input type="submit" value="FWEET!" id="submit" />
</form>
