<h2><%=@tweet.user.username%></h2>
<p>
  <%=@tweet.content%>
</p>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<form method="POST" action="/tweets/<%=@tweet.id%>/delete">
  <input type="hidden" id="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Tweet" id="submit" />
</form>
