<h2>Log in to Fwitter</h2>
<p>
  "Where the only character limit is your imagination" - Michuo Kaku
</p>

<form method="POST" action="/login">
  <input type="text" name="username" id="username" />
  <input type="text" name="password" id="password" />
  <input type="submit" value="Login" id="submit" />
</form>
