<h2><%=@user.username%>'s Tweets (Fweets?)</h2>
<%@tweets.each do |tweet|%>
  <div>
    <p class="tweet-content">
      <a href = "/tweets/<%=tweet.id%>"><%=tweet.content%></a>
    </p>
  </div>
<%end%>
