<h2>Create a New Fwitter Account</h2>
<p>
  "I tell ya, your young men will be fwitterin'" - Prof. Harold Hill
</p>

<form method="POST" action="/signup">
  <input type="text" name="username" id="username" />
  <input type="text" name="email" id="email" />
  <input type="text" name="password" id="password" />
  <input type="submit" value="Sign Up" id="submit" />
</form>
