<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <div class="header">
      <a href="/">Home</a>
      <a href="/tweets">All Tweets</a>
    </div>
    <div class="container">
      <%=yield%>

  </body>
</html>
